---
layout: base.njk
title: Quicken Homepage
---
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/products/quicken-starter-windows/">Quicken Starter</a></li>
  <li><a href="/products/quicken-deluxe-windows/">Quicken Deluxe</a></li>
</ul>

<h1>{{ title }}</h1>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>